@CHARSET "UTF-8";

.btn-toolbar { float: right; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { font-weight: bold; }

.tab-content { margin-top: -18px; border:1px solid #ccc; border-top:none; padding:5px; padding-top: 10px; }

.form-horizontal .controls { margin-left:130px !important; }

.js-stools { height: 80px; }
.js-stools-btn-filter { display: none !important; }
.js-stools-container-filters { display: block !important; height: 40px; }

.header { margin-top: -30px; }
.navbar-inner .container-fluid, .navbar-fixed-top { display: none;  }
.navbar-fixed-bottom .logout a { color: red !important; }
.navbar-fixed-bottom .btn-toolbar {  }